.row {
  width: auto;
}

.left-side {
  margin-left: 20px;
}

.right-side {
  padding-left: 50px;
  padding-right: 15px;
  border-left: 8px black solid;
  margin-top: 15px;
}

.name {
  float: left;
}

.name h1 {
  text-align: center;
  font-size: 60pt;
  font-family: Josefin Slab, arial;
  font-weight: bolder;
  float: left;
  clear: both;
}

.name small {
  display: block;
  float: left;
  height: 100px;
}

.about-me {
  margin-top: 50px;
  margin-right: 50px;
  padding: 20px;
  text-align: center;
  float: left;
  font-family: Maven pro, arial;
}

#about-me-heading {
  margin-bottom: 30px;
  border-bottom: 5px solid black;
  width: 200px;
  float: left;
  font-weight: bolder;
  font-style: italic;
}

.about-me p {
  float: left;
  text-align: justify;
  font-size: 20pt;
}

.about-me-p2 {
  margin-top: 35px;
}

.my-projects {
  height: 150px;
}

.my-projects h1 {
  text-align: center;
  width: 400px;
  padding-top: 60px;
  font-family: Josefin Slab, arial;
  font-weight: bolder;
  font-size: 40pt
}

.project img {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.project-name {
  margin: 20px;
  font-size: 20pt;
  font-family: maven pro, arial;
  font-weight: bold;
}

.description {
  margin-left: 20px;
  font-family: maven pro, arial;
  font-size: 18pt;
}

#shelter {
  border: 3px black solid;
}

#vacation {
  border: 3px black solid;
}

#landing {
  border: 3px black solid;
}
