body {
  background: url('../img/background.png');
  background-attachment: fixed;
  margin-bottom: 50px;
}

.row {
  width: auto;
}

.left-side {
  margin-left: 20px;
}

.right-side {
  padding-left: 50px;
  padding-right: 15px;
  border-left: 8px black solid;
  margin-top: 15px;
}

.name {
  float: left;
  width: 100%;
}

.name h1 {
  text-align: center;
  font-size: 60pt;
  font-family: Josefin Slab, arial;
  font-weight: bolder;
  float: left;
  clear: both;
}

#name-heading {
  margin-top: 40px;
}

#my-portfolio {
  margin-top: 60px;
}

.name small {
  display: block;
  float: left;
  height: 100px;
}

.about-me {
  margin-top: 50px;
  margin-right: 50px;
  padding: 20px;
  text-align: center;
  float: left;
  font-family: Maven pro, arial;
}

#about-me-heading {
  margin-bottom: 30px;
  border-bottom: 5px solid black;
  width: 200px;
  float: left;
  font-weight: bolder;
  font-style: italic;
}

.about-me p {
  float: left;
  text-align: left;
  font-size: 20pt;
}

.about-me img {
  width: 100%;
  margin-top: 25px;
}

.about-me-p2 {
  margin-top: 35px;
}

.my-projects {
  height: 150px;
}

.my-projects h1 {
  text-align: center;
  width: 100%;
  height: 75%;
  padding-top: 40px;
  font-family: Josefin Slab, arial;
  font-weight: bolder;
  font-size: 56pt
}

.project img {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.project-name {
  margin: 20px;
  font-size: 20pt;
  font-family: maven pro, arial;
  font-weight: bold;
  border-top: solid 5px white;
}

.description {
  margin-left: 20px;
  font-family: maven pro, arial;
  font-size: 18pt;
}

#shelter {
  border: 3px black solid;
}

#vacation {
  border: 3px black solid;
}

#landing {
  border: 3px black solid;
}

#resort {
  border: 3px black solid;
}

.hobbies-list {
  float: left;
  clear: both;
  font-size: 20pt;
  font-family: maven pro, arial;
  text-align: left;
}

#caption {
  font-size: 18pt;
  text-align: left;
  margin-top: 28px;
  padding-left: 40px;
  border-bottom: 5px white solid;
}

.well {
  background-color: #f4eded;
}

.about-me-p3 {
  float: left;
  text-align: left;
  font-size: 20pt;
  margin-top: 30px;
}

.movies-list {
  float: left;
  text-align: left;
  font-size: 20pt;
  font-style: italic;
}

.not-italic {
  text-align: left;
  font-size: 20pt;
  font-style: normal;
}
